{% extends 'viewpack/crud/detail-base.jinja2' %}

{% if has_actions is not defined%}
    {% set has_actions = can_edit or can_download %}
{% endif %}

{% block content_head %}
    <action-handle expand-on-hover>
        {% if has_actions %}
            <h1 class="action-handle-title">{{ _('Actions') }}</h1>
            {% if can_edit %}<menu-item href="./edit" icon="edit">Edit</menu-item>{% endif %}
            {% if can_download %}<menu-item href="./download" icon="file_download">Download</menu-item>{% endif %}
        {% endif %}

        <!-- Detail box -->
        <h1 class="action-handle-title">{{ _('Details') }}</h1>
        {{ self.object_detail() }}
    </action-handle>
    {{ super() }}

{% endblock %}

{% block object_description %}
    <h2>{{ _('Description') }}</h2>
    <div>{{ object.long_description|markdown }}</div>
{% endblock %}

{% block content_body %}
    {{ self.object_description() }}
{% endblock %}