{% extends 'viewpack/crud/detail-base.jinja2' %}

{% if has_actions is not defined%}
    {% set has_actions = can_edit or can_download %}
{% endif %}

{% block content_head %}
    <action-handle expand-on-hover>
        {% if has_actions %}
            <h1 class="action-handle-title">{{ _('Actions') }}</h1>
            {% if can_edit %}
                <p><a href="./{{ object.pk }}/edit"><i
                        class="material-icons">edit</i> Edit</a></p>
            {% endif %}
            {% if can_download %}
                <p><a href="./{{ object.pk }}/download"><i class="material-icons">file_download</i></a>
                </p>
            {% endif %}
        {% endif %}

        <!-- Detail box -->
        <h1 class="action-handle-title">{{ _('Details') }}</h1>
        {{ self.object_detail() }}
    </action-handle>
    {{ super() }}

{% endblock %}

{% block object_description %}
    <h2>{{ _('Description') }}</h2>
    <div>{{ object.long_description|markdown }}</div>
{% endblock %}

{% block content_body %}
    {{ self.object_description() }}
{% endblock %}