{% extends "viewpack/crud/list-base.jinja2" %}

{% block list_item %}
    <p class="list-item-title"><a href="./{{ object.pk }}/">{{ object.title|default(object) }}</a></p>
    <p class="list-item-description">{{ object.short_description }}</p>
{% endblock %}