{% extends "base.jinja2" %}
{% block style %}
    {{ super() }}
    <style>
        #content-area main > *:nth-child(odd) {
            background-color: #10A2A4;
        }
    </style>
{% endblock %}
