# Cached builds
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.dll
*.egg
*.egg-info/

# Build directories
doc/_build/
build/
dist/
.cache/
src/db.sqlite3.bak
src/db.sqlite3
src/.cache/
collect/
src/codeschool/bower/
