<h2>Atividades disponíveis</h2>

<template is="dom-bind">
    <paper-tabs selected="{{ '{{ selected }}' }}" id="add-activities-tabs">
        <paper-tab>Em aberto</paper-tab>
        <paper-tab>Atividades passadas</paper-tab>
        <paper-tab>Nova</paper-tab>
    </paper-tabs>

    <iron-pages selected="{{ '{{ selected }}' }}">
        <div>
        {% if pending_activities %}
            <selectable-actions data-id="{{ course.pk }}">
                <paper-menu multi>
                {% for activity in pending_activities %}
                    <paper-item data-id="{{ activity.pk }}">{{ activity.name }}</paper-item>
                {% endfor %}
                </paper-menu>

                <nav>
                    <paper-button
                            action="cs-courses.enable-activity"
                            action-data="{when: 'now'}">
                        Reabrir agora
                    </paper-button>

                    <paper-button
                            action="cs-courses.enable-activity"
                            action-data="{when: 'next'}">
                        Reabrir na próxima aula
                    </paper-button>

                    <paper-button single action="cs-courses.edit-activity">
                        Editar
                    </paper-button>
                </nav>
            </selectable-actions>
        {% else %}
            <p class="no-content">Nenhuma atividade encontrada</p>
        {% endif %}
        </div>

        <div>
        {% if past_activities %}
            <selectable-actions data-id="{{ course.pk }}">
                <paper-menu multi>
                {% for activity in past_activities %}
                    <paper-item data-id="{{ activity.pk }}">{{ activity.name }}</paper-item>
                {% endfor %}
                </paper-menu>

                <nav>
                    <paper-button
                            requires-selection
                            action="cs-courses.enable-activity"
                            action-data="{when: 'now'}">
                        Reabrir agora
                    </paper-button>

                    <paper-button
                            requires-selection
                            action="cs-courses.enable-activity"
                            action-data="{when: 'next'}">
                        Reabrir na próxima aula
                    </paper-button>

                    <paper-button requires-single action="cs-courses.edit-activity">
                        Editar
                    </paper-button>
                </nav>
            </selectable-actions>
        {% else %}
            <p class="no-content">Nenhuma atividade encontrada</p>
        {% endif %}
        </div>

        <div id="new-activity">
        {% for tt in activity_types %}
            <div>{{ tt.name }}
                <paper-fab
                        mini
                        icon="add"
                        onclick="srvice.dialog({
                            action: 'open',
                            url: './add-{{ tt.url }}'
                        })">
                </paper-fab></div>
        {% endfor %}
        </div>
    </iron-pages>
</template>

<script>
    $(function() {
        $('#add-activities-tabs')[0].selected = 0;
    });
</script>