{% extends "cs_courses/base.jinja2" %}

{% block content %}
    <section class="content-cards">
        <aside>
            <h1>Cursos inscritos</h1>
            <p>Acesse a lista de cursos inscritos</p>
        </aside>

        <article>
            {% for course in courses -%}
            <cs-card href="{{ course.pk }}" icon="help">
                <h1>{{ course.name }}</h1>
                <p>{{ course.short_description }}</p>
            </cs-card>
            {%- endfor %}

            <cs-card onclick="srvice.dialog({url: 'add-course'})" faded icon="add_circle">
                <h1>Adicionar</h1>
                <p>Cadastre-se em outros cursos.</p>
            </cs-card>
        </article>
    </section>

    <section class="content-separated">
        <aside></aside>
        <article></article>
    </section>

{% endblock %}