{% extends "cs_courses/base.jinja2" %}

{% block content %}
    <section class="content-cards">
        <aside>
            <h1>Cursos inscritos</h1>
            <p>Acesse a lista de cursos inscritos</p>
        </aside>

        <article>
            {% for course in courses -%}
            <a href="{{ course.pk }}" class="card">
                <i class="material-icons">help</i>
                <h1>{{ course.name }}</h1>
                <p>{{ course.short_description }}</p>
            </a>
            {%- endfor %}

            <a onclick="srvice.dialog({url: 'add-course'})" class="card-faded" >
                <i class="material-icons">add_circle</i>
                <h1>Adicionar</h1>
                <p>Cadastre-se em outros cursos.</p>
            </a>
        </article>
    </section>

    <section class="content-separated">
        <aside></aside>
        <article></article>
    </section>

{% endblock %}