{% extends "cs_courses/base.jinja2" %}

{% block nav_sections %}
    <li>
        <p>{{ course.name }}</p>
        <ul>
            <li onclick="srvice.dialog({sourceId: 'confirmation-dialog', action: 'open'})">Cancelar inscrição</li>
        </ul>
    </li>
    {{ super() }}
{% endblock %}

{% block hidden_content %}
    {{ super() }}
    <div id="confirmation-dialog" class="hidden">
        <h1>{{ _('Confirmation') }}</h1>
        <p>{{ gettext('Are you sure you want to leave %(course)s (Prof. %(name)s)?)', course=course.name, name=user.get_full_name()) }}</p>
        <p>{{ _('All your activities and progress will be deleted.') }}</p>
        <div class="toolbar highlight">
            <button onclick="srvice(
                    'cs-courses.leave-course',
                    {
                        user: '{{ user.username }}',
                        course: {{ course.pk }}
                    })">{{ _('Ok') }}</button>
            <button onclick="srvice.dialog('close')">{{ _('Cancel') }}</button>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section class="content-cards">
        <aside>
            <h1>{{ course.name }}</h1>
            <p>Atividades para o dia de hoje</p>
        </aside>

        <article>
            {% for activity in user_activities -%}
                <a href="{{ activity.get_absolute_url() }}" class="card">
                    <i class="material-icons">{{ activity.material_icon|default('help_outline') }}</i>
                    <h1>{{ activity.name }}</h1>
                    <p>{{ activity.short_description }}</p>
                </a>
            {%- endfor %}

            {% if course.teacher != user %}
                <a onclick="alert('em construção')" class="card-faded">
                    <i class="material-icons">add_circle</i>
                    <h1>Aprofunde-se</h1>
                    <p>Atividades e desafios adicionais selecionados para você :)</p>
                </a>
            {% else %}
                <a onclick="srvice.dialog({url: 'add-activities'})" class="card-faded" >
                    <i class="material-icons">add_circle</i>
                    <h1>Adicione conteúdo</h1>
                    <p>Clique aqui para adicionar novas atividades em seu curso.</p>
                </a>
            {% endif %}
        </article>
    </section>

    <section class="content-cards">
        <aside>
            <h1>Aulas</h1>
            <p>Cronograma de aulas.</p>
        </aside>

        <article>
            {% if course.lessons %}
                <sortable-js id="course-lessons" {% if can_edit %}sync-api="cs_courses.sort-lessons" sync-id="{{ course.pk }}"{% else %}disabled{% endif %}>
                    {% for lesson in course.lessons %}
                        <div data-id="{{ lesson.pk }}">
                            <p><span class="index">{{ loop.index }}.</span> {{ lesson.title }} {% if can_edit %}<i class="sortable-remove">✖</i>{% endif %}</p>
                            {% if lesson.description %}<div>{{ lesson.description }}</div>{% endif %}
                        </div>
                    {% endfor %}
                </sortable-js>
            {% else %}
                <p>{{ _('No lessons available!') }}</p>
            {% endif %}
        </article>

    </section>

    <section class="content-cards">
        <aside>
            <h1>Colegas</h1>
            <p>Acesse a lista de todos alunos inscritos no curso.</p>
        </aside>

        <article>
            <div>
                <h2>Alunos inscritos</h2>
                <ul>
                    {% for student in course.students.all().exclude(pk=user.pk).order_by('first_name') %}
                        <li><a href="/accounts/{{ student.username}}">{{ student.get_full_name() or student.username }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </article>
    </section>
{% endblock %}