{% extends "cs_questions/base.jinja2" %}

{% block content %}
    <section>
        {% if question %}
            <a href="{% url 'question-action' question.pk 'download' %}"><i class="material-icons config-handle">file_download</i></a>
            <h1>
                {{ question.title }}
            </h1>
        {% else %}
            <h1>{% block add_question_title %}{{ _('Add a new question') }}{% endblock %}</h1>
            {% if disable_upload %}
                <p>{% trans %}Please fill up the form bellow.{% endtrans %}</p>
            {% else %}
                <p>{% trans %}You can add a new question by filling up the form bellow or by importing a file. {% endtrans %}</p>
                {% if import_ok %}
                    <div class="box success alert-message">
                        <i class="material-icons alert">done</i>
                        <p>{{ _('Import was successful') }}</p>
                    </div>
                {% elif import_error %}
                    <div class="box error">
                        <div class="alert-message">
                            <i class="material-icons alert">error</i>
                            <p>{{ import_error }}</p>
                        </div>
                        <form class="toolbar" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ import_form }}
                            <input type="submit" value={{ _("Import") }}>
                        </form>
                    </div>
                {% else %}
                    <div class="box file">
                        <form method="POST" enctype="multipart/form-data">
                            <div class="alert-message">
                                <i class="material-icons alert">file_upload</i>
                                <p>
                                    <strong>{{ _('Import question') }}</strong><br>
                                    {{ import_form }}
                                </p>
                            </div>
                            {% csrf_token %}
                            <div class="toolbar">
                                <input type="submit" value={{ _("Import") }}>
                            </div>
                        </form>
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}

        <div class="toolbar highlight" id="secondary-toolbar">
            {{ self.toolbar_buttons() }}
        </div>
    </section>

    <div class="question-input">
        {% block question_content %}
            <form method="POST" id="question-form">
                {% csrf_token %}
                {% if question %}<input type="hidden" name="question_pk" value="{{ question.pk }}">{% endif %}
                <input type="hidden" name="action" value="none">
                <table class="form">{{ form.as_table() }}</table>
            </form>
        {% endblock %}
    </div>


    <div class="toolbar" id="main-toolbar">
        {% block toolbar_buttons %}
            {% if question %}
                <input  type="submit"
                        class="dangerous separated"
                        value="{{ _('Delete') }}"
                        onclick="$('#question-form').submitWith({action: 'delete'})">
                <input  type="submit"
                        class="secondary"
                        value="{{ _('Copy') }}"
                        onclick="$('#question-form').submitWith({action: 'copy'})">
            {% endif %}
            <input  type="submit"
                    class="secondary"
                    value="{{ _('View') }}"
                    onclick="$('#question-form').submitWith({action: 'view'})">
            <input  type="submit"
                    class="primary"
                    value="{{ _('Save') }}"
                    onclick="$('#question-form').submitWith({action: 'save'})">
        {% endblock %}
    </div>
{% endblock %}