{% extends "viewpack/crud/detail.jinja2" %}

{% if not form_name %}{% set form_name = 'response-form' %}{% endif %}

{% block object_description %}
    <article class="long_description">
        {{ question.long_description|markdown }}
    </article>

    <form method="POST" id="{{ form_name }}">
        {% csrf_token %}
        {% block response_form %}
            <h3>{{ _('Response') }}</h3>
            <table class="form">{{ form.as_table() }}</table>
        {% endblock %}
    </form>
    <div class="toolbar highlight">
        <button class="mdl-button mdl-js-button" form="{{ form_name }}">{{ _('Send') }}</button>
    </div>
{% endblock %}

{% block dialog_content %}
    {% if feedback %}
        {{ super() }}
        <div class="feedback">{{ feedback.as_html() }}</div>
        <script>
            $(function() {
                $('#dialog')[0].open();
            });
        </script>
    {% endif %}
{% endblock %}

