{% extends "base.jinja2" %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/codemirror/lib/codemirror.css' %}">
{% endblock %}

{% block style %}
    <style>
    .iospec-testcase {
        padding-left: 30px;
    }
    .iospec-testcase h4 {
        margin-left: -20px;
    }
    .iospec-input {
        color: darkred;
    }
    </style>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'bower_components/codemirror/lib/codemirror.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/codemirror/addon/edit/matchbrackets.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/codemirror/mode/python/python.js' %}"></script>
    <script>
        $(function () {
            var editor = CodeMirror.fromTextArea(
                    document.getElementById('codemirror-input'),
                    {
                        mode: "python",
                        version: 3,
                        lineNumbers: true,
                        indentUnit: 4,
                        indentWithTabs: false,
                        matchBrackets: true
                    });
            // Indent with tabs
            editor.setOption("extraKeys", {
                Tab: function (cm) {
                    var spaces = new Array(cm.getOption("indentUnit") + 1).join(" ");
                    cm.replaceSelection(spaces);
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
    <section>
    {% if can_download %}
        <a href="./download"><i class="material-icons config-handle">file_download</i></a>
    {% endif %}
        <h1>{{ question.title }}
          {% if can_download_question and download_url %}
          <a id href="{{ download_url }}" title="Baixar questão">&crarr;</a>
          {% endif %}
        </h1>

        <article class="question-description">
        {{ question.long_description|markdown }}
        </article>
    </section>

    <div class="question-input">
        <h2>Resposta</h2>
        <form action="{{ form_action|default('') }}" method="post">
            {% csrf_token %}
            <textarea id="codemirror-input" name="source">{{ placeholder_text }}</textarea>
            {% if not hide_button -%}
            <br>
            <input class="question-input-button" type="submit" name="send" value="Enviar"/>
        </form>
        {%- endif %}
    </div>

    {# Input area #}
    {% if feedback or grade %}
        <article class="question-feedback">
        <h2>Feedback</h2>
        {% if grade == 100 %}
        <p>
          <strong>Parabéns!</strong>
          Sua resposta está correta e foi registrada.
        </p>
        {% else %}
        {{ feedback.as_html() }}
        <p><strong>Aproveitamento: </strong> {{ grade }}%</p>
        {% endif %}
        </article>
    {% endif %}
{% endblock %}