{% extends "base-ternary.jinja2" %}

{% block header %}
    {{ super() }}
    <paper-tabs id="ternary-tabs" selected="{{ '{{ selected }}' }}">
        {% block tab_titles %}{% endblock %}
    </paper-tabs>
{% endblock %}

{% block main %}
    <iron-pages selected="{{ '{{ selected }}' }}">
        {% block tab_pages %}{% endblock %}
    </iron-pages>
{% endblock %}

{% block footer %}
    {{ super() }}
    <script>
        $(function() {
            $('#ternary-tabs')[0].selected = {{ default_tab|default(0) }};
        })
    </script>
{% endblock %}