{% if is_document|default(True) %}
<!DOCTYPE html>
<html lang="pt-br" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        {%- block title %}
            {% if page %}
                {%- if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif -%}
            {% else %}
                {{- title|default('Codeschool') -}}
            {% endif %}
        {% endblock %}
        {%- block title_suffix %}
            {% if title_suffix %}{{ title_suffix }}{% endif %}
        {% endblock %}</title>
    <meta name="description" content="{{ page_description|default('Codeschool - learn through coding') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}{% endblock %}
    <link rel="apple-touch-icon" href="{% static 'apple-touch-icon.png' %}">

    <!-- Imports -->
    <script src="{% static 'bower_components/webcomponentsjs/webcomponents-lite.min.js' %}"></script>
    <script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-1.12.0.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="import" href="{% static 'components/main.html' %}">
    {% block extra_components %}
        {# Override this in templates to add extra compontents #}
        {% for html in extra_components %}
            <link rel="import" href="{{ html }}">
        {% endfor %}
    {% endblock %}
    {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
        {% for css in extra_css %}
            <link rel="stylesheet" href="{{ css }}">
        {% endfor %}
    {% endblock %}
    {% block header_js %}
        {# Override this in templates to add extra javascript that must be in
          the header #}
        {% for js in header_js %}
            <script src="{{ js }}"></script>
        {% endfor %}
    {% endblock %}
    {% block style %}
        {# Override this in templates to add an <style> tag #}
    {% endblock %}
</head>

<body class="{% block body_class %}fullbleed layout vertical{% if body_class %} {{ body_class }}{% endif %}{% endblock %}">
    <!--[if lt IE 8]>
        <p class="browserupgrade">
            You are using an <strong>outdated</strong> browser. Please
            <a href="http://browsehappy.com/">upgrade your browser</a> to
            improve your experience.
        </p>
    <![endif]-->
{% endif %}

    {% block body %}{% if is_document|default(True) %}{% block wagtail %}{{ wagtailuserbar() }}{% endblock %}{% endif %}
    <header id="nav-header">
        <div class="logo">
            <img src="{% static 'img/logo.svg' %}" alt="Codeschool">
            <paper-icon-button onclick="page.toggle_menu()" icon="menu"></paper-icon-button>
        </div>
        <ul>
            <li><a href="#" class="disabled-link">Opções</a></li>
            <li><a href="#" class="disabled-link">Avisos</a></li>
            <li><a href="/courses/">Cursos</a></li>
            <li><a href="/accounts/login/">Login</a></li>
            {%  if user.first_name %}
                {% set first_letter=user.first_name[0] %}
            {% else %}
                {% set first_letter='?' %}
            {% endif %}
            <li><button class="fab-button" onclick="srvice.go('/accounts/{{ user.username|default('signin') }}/')">{{ first_letter }}</button></li>
        </ul>
    </header>

    <div id="content-area">
        <nav>
            <ul>
            {% block nav_sections %}
                {% if not disable_courses_section %}
                    <li>
                        <p><a href="/courses/">{{ _('Courses') }}</a></p>
                        <ul>
                            <li><a href="/questions/">{{ _('List of quesions') }}</a></li>
                            {% for course in user.related_courses %}
                                <li><a href="/courses/{{ course.pk }}">{{ course.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}
                {% if not disable_profile_section %}
                    <li>
                        <p><a href="/accounts/{{ user.username }}/">{{ _('Profile') }}</a></p>
                        <ul>
                            <li><a href="/accounts/{{ user.username }}/edit">{{ _('Edit') }}</a></li>
                            <li class="disabled-link">Amigos</li>
                            <li class="disabled-link">Configurações</li>
                        </ul>
                    </li>
                {% endif %}
            {% endblock %}
            </ul>
            <img src="{% static 'img/dingbat.svg' %}">
        </nav>

        <main>
        {% block content_title %}{% endblock %}
        {% block content %}{% if content %}{{ content }}{% endif %}{% endblock %}
        </main>
    </div>

    <footer id="nav-footer">
        <div class="flex">
            <p>Amigos (em construção)</p>
            <ul>
                <li>Fulano fez isso</li>
                <li>Cicrano fez aquilo</li>
                <li>Beltrano fez aquio outro</li>
            </ul>
        </div>

        <div class="flex">
            <p>Agenda (em construção)</p>
            <ul>
                <li>Prova dia X</li>
                <li>Trabalho para dia Y</li>
                <li>Estudar XY</li>
            </ul>
        </div>

        <div class="flex">
            <p>Notícias (em construção)</p>
            <ul>
                <li>Adicionou notas</li>
                <li>Mensagem do prof. CB</li>
                <li>Não haverá prova dia XXX</li>
            </ul>
        </div>
    </footer>

    <footer id="copyright-footer">
        <p>Copyright 2016 - <a href="http://github.com/fabiommendes/codeschool">Codeschool</a></p>
        <p>Site gerenciado por Fábio M. Mendes na UnB/Gama.</p>
    </footer>
    {% endblock %}

{% if is_document|default(True) %}
{% block hidden_content %}
    <paper-dialog id="dialog" class="dialog" modal exit-animation="fade-out-animation">
        <i id="dialog-close" onclick="this.parentNode.close()" class="material-icons">close</i>
        <div id="dialog-content"></div>
    </paper-dialog>
{% endblock %}

    <!-- Global javascript -->
    <script src="{% static 'js/srvice.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    {% endif %}
{% block extra_js %}
    {# Override this in templates to add extra javascript #}
{% endblock %}

{% if is_document|default(True) %}
    {% if google_analytics|default(False) %}
    <!-- Google Analytics -->
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','{{ google_analytics_site_id|default('codeschool') }}','auto');ga('send','pageview');
    </script>
    {% endif %}
{% endif %}

{% if is_document|default(True) %}
</body>
</html>
{% endif %}