body {
	background: #FFF;
	font-family: Georgia, Times New Roman, Times, serif;
	font-size: 20px;
    margin: 0px;
    padding: 0px;
    border-left: 20px solid #333;
    border-right: 5px solid #eee;
}

h1, h2, h3, h4, h5, p  {
    font-weight: normal;
    font-family: 'Chelsea Market', Georgia, serif;
}
h1, h2, h3, h4, h5 {
    text-transform: lowercase;
}

h1 {
	font-size: 40px;
    color: #000;
}

h2 {
	font-size: 35px;
    color: #111;
}

h3 {
	font-size: 30px;
    margin-top: 70px;
}

h4 {
    font-size: 25px;
}

p {
    font-size: 20px;
	color: #000;
    line-height: 120%;
}

a, a:visited {
	color: #000;
    font-size: 20px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
	padding: 25px;
}

.problem_list {
    margin-left: 170px;
    padding-bottom: 250px;
}

.problem_list a, .problem_list a:visited {
    color: #666;
}

ul a {
    font-size: 20px;
}

pre, code, tt {
    background-color: black;
	color: white;
	font-style: normal;
	font-family: menlo, monospace;
	text-align: left;
	border-radius: 10px;
}

pre {padding: 20px;}
code, tt {padding: 5px 15px; white-space: nowrap;}

#logo_image {
    float: left;
    margin: 20px;
    margin-top: 20px;
}

.menu { 
    background-color: #eee; 
    text-transform: uppercase;
    text-align: right;
    font-weight: bold;
    font-size: 20px;
    margin: 50px 0px;
    margin-top: 0px;
    margin-bottom: 70px;
    padding: 0px;
    padding-top: 5px;
}
.menu a, .menu a:visited {
    color: white;
    padding: 15px 25px;
    margin: 0px 0px;
    background-color: #333;
    border-radius: 4px;
}

.menu a:hover {
    background-color: #666;
    text-decoration: none;
}

.question_form {
    background-color: #f2f2f2; 
    font-family: 'Chelsea Market', Georgia, serif;
}

.question_form input {
    color: #444;
}

.question_form .errorlist {
    border: 1px solid black;
    border-radius: 3px;
    color: #333;
    background-color: #eef;
    padding: 5px 20px;
    margin: 5px 0px;
}

#student_main, #student_main p { 
    background-color: #2E6B32;
    color: #ffe;    
}

#student_other, #student_other p { 
    background-color: #AB2B2B;
    color: #ffe;
}

#student_main, #student_other {
    padding: 10px 50px;
    text-transform: lowercase;
}

#student_main p, #student_other p {
    margin: 0px;
    font-size: 22px;
    font-weight: bold;
}

.response_area { padding: 40px 10%; text-align: center;}
.response_area p { text-align: right;}
.response_area input { 
    font-size: 18;
    font-weight: bold; 
    text-transform: lowercase;
    color: white;
    padding: 15px; 
    background-color: #333;
    border: 0px solid white;
    border-bottom: 3px solid #000000;
    border-right: 3px solid #000000;
    border-radius: 8px;}

.response_area textarea, .CodeMirror { 
    background-color: #ffe; 
    color: #444; 
    font-family: monospace; 
    font-size: 20px; 
    border-radius: 5px; 
    border: 1px solid #aaa; 
    padding: 0px
}

.response_area:focus, .CodeMirror:focus, .CodeMirror-focused {
    background-color: white; 
    color: black;
}

.question_response_feedback {
    font-size: 25px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 200px;
}

.question_error_message {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    margin: 50px;
    margin-botom: 0px; 
    padding: 50px;
}

#error_header {
    font-weight: strong;
    font-size: 30px;
    color: #a00;
    margin-top: 0px;
}


.grades_form input { 
    font-weight: bold;
    font-size: 18px;
    text-transform: lowercase;
    margin-right: 10px;
    padding: 5px; 
    border: 1px;
    border-radius: 2px;}

.grades {
    margin: 50px 100px;
    padding-bottom: 100px;
    text-align: center;
}

.id_div {
    border-left: 200px;
}

.grades_form p {
    padding: 20px 0px;
}

.grades table {
    padding: 5px;
    border: 1px solid black;
    border-bottom: 2px solid black;
    border-radius: 4px;
    width: 70%;
}

.grades th {
    border-bottom: 1px solid gray;
    background-color: #eee; 
}