{% extends "base.jinja2" %}
{% set username=user.username %}

{% block content_title %}Perfil: {{ username }}{% endblock %}

{% block style %}
    {{ super() }}
    <style>
        .toolbar.highlight.user-toolbar {
            display: flex;
            justify-content: space-between;
            padding-left: 40px;
            padding-right: 40px;
        }
        .toolbar.highlight.user-toolbar a {
            display: block;
        }
    </style>
{% endblock %}

{% block content_head %}
    <h1>{{ self.content_title() }}</h1>

    {% if user.username == profile.user.username %}
        <div class="user-toolbar toolbar highlight">
            <a href="{% url 'userena_profile_detail' username %}">{{ _("View profile") }}</a>
            <a href="{% url 'userena_profile_edit' username %}">{{ _("Edit details") }}</a>
            <a href="{% url 'userena_password_change' username %}">{{ _("Change password") }}</a>
            <a href="{% url 'userena_email_change' username %}">{{ _("Change email") }}</a>
        </div>
    {% endif %}
{% endblock %}
