{% extends "base-ternary.jinja2" %}

{% block content_title %}{{ _('Welcome to Codeschool!') }}{% endblock %}
{% set tabs = [('login', _('Login')), ('signup', _('Sign up'))] %}

{% block main %}
    <section id="login" class="mdl-tabs__panel is-active">
        <form id="signin-form" method="POST">
            {% csrf_token %}
            <input type="hidden" name="action-type" value="signin">
            <table class="form">
                {% if action == 'signin' %}
                    {{ form.as_table() }}
                {% else %}
                    {{ signin.as_table() }}
                {% endif %}
            </table>
        </form>
    </section>

    <section id="signup" class="mdl-tabs__panel">
        <form id="signup-form" method="POST">
            <input type="hidden" name="action-type" value="signup">
            {% csrf_token %}
            <h2>{{ _('Required fields') }}</h2>
            <table class="form">
                {% if action == 'signup' %}
                    {{ form.as_table() }}
                {% else %}
                    {{ signup.as_table() }}
                {% endif %}
            </table>
            <h2>{{ _('Optional fields') }}</h2>
            <table class="form">{{ signup_opt.as_table() }}</table>
        </form>
    </section>
{% endblock %}


{% block extra_js %}
    {{ super() }}
    <script>
        function submit() {
            if ($('#login')[0].classList.contains('is-active')) {
                $('#signin-form')[0].submit();
            } else {
                $('#signup-form')[0].submit();
            }
        }
    </script>
{% endblock %}