{% extends "base.jinja2" %}

{% block content %}
    <h1>Perfil: {{ name }}</h1>
    <dl>
        <dt>Perfil</dt><dd>{{ profile }}</dd>
        <dt>E-mail</dt><dd>{{ email|default('Não-disponível') }}</dd>

        <dt>Cursos inscritos</dt>
        <dd>{% for course in courses %}
            <a href="{{ course.get_absolute_url() }}">{{ course.name }}</a>
            {%- if not loop.last %}, {% endif %}{% endfor %}
        </dd>
    </dl>
{% endblock %}