{% if object is defined %}
    {# Short description constant #}
    {% if short_description is not defined %}
        {% if object.short_description_html is defined  %}
            {% set short_description = object.short_description_html %}
        {% elif object.short_description is defined  %}
            {% set short_description = object.short_description %}
        {% elif object.description is defined  %}
            {% set short_description = object.description|markdown %}
        {% else %}
            {% set short_description = str(object)|e %}
        {% endif %}
    {% endif %}
    
    {# Long description constant #}
    {% if long_description is not defined %}
        {% if object.long_description_html is defined  %}
            {% set long_description = object.long_description_html %}
        {% elif object.long_description is defined  %}
            {% set long_description = object.long_description %}
        {% else %}
            {% set long_description = str(object)|e %}
        {% endif %}
    {% endif %}
    {% set description = long_description %}
{% endif %}

{% extends "base.jinja2" %}

{% block content_head %}
    <h1>{{ self.content_title() }}</h1>

    {% if short_description %}<p>{{ short_description }}</p>{% endif %}
{% endblock %}
