<link rel="import" href="../../bower_components/polymer/polymer.html">


<dom-module id="cs-card">
    <template>
        <div id="card" class="mdl-shadow--4dp">
            <a href="{{ href }}" id="link"><i id="icon" class="material-icons">{{ icon }}</i></a>
            <content></content>
        </div>
    </template>

    <style>
        :host {
            display: flex;
            margin: 10px;
            background-color: white;
            padding: 0;
            min-height: 100px;
        }

        :host[faded] {
            background-color: rgba(220, 220, 220, 170);
        }

        :host[icon] #icon {
            display: block;
        }

        ::content h1 {
            font-size: 1.7em;
        }

        #card {
            padding: 10px 20px;
            color: #333;
            text-align: center;
            vertical-align: center;
            flex-grow: 1;
            align-self: stretch;
        }

        #icon {
            font-size: 4em;
            display: none;
        }
    </style>

    <script>
        HTMLImports.whenReady(
            AceEditorElement = Polymer({
                is: 'cs-card',
                properties: {
                    icon: {
                        type: String,
                        reflectToAttribute: true,
                    },
                    href: {
                        type: String,
                        reflectToAttribute: true
                    },
                    faded: {
                        type: Boolean,
                        value: false,
                        reflectToAttribute: true
                    }
                },

                hostAttributes: {
                    // Hash with default value for HTML attributes
                },

                ready: function () {
                    $(this).click(function () {
                       if (this.href) {
                           window.location = this.href;
                       }
                    });
                }
            })
        );
    </script>
</dom-module>

