{% extends "base.jinja2" %}
{% block title %}
    Battle winners
{% endblock %}
{% block content %} 
<h1>Resultado da Batalha</h1>
<table id="battles">
    <thead><tr><th>ID</th><th>Data</th><th>Result Battle</th></tr></thead>
    <tbody>
        {% for battle in battles %}
        <tr onclick="location.href='/battle/{{battle.battle_result_id}}'">
            <td> {{ battle.id }} </td>
            <td> {{ battle.time_begin|dateformat(format="short") }} ~ {{ battle.time_end|dateformat(format="short") }} </td>
            <td>  {{ battle.battle_result }} </td>

        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="../../static/cs_ranking/css/battle_table.css">
{% endblock %}
{% block extra_js %}
    <script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
    <script src="{% static 'cs_ranking/js/battle_table.js' %}"></script>
{% endblock %}

