{% extends "multi-views/base.jinja2" %}
{% import "includes/actions.jinja2" as actions %}
{% from "includes/upload-box.jinja2" import upload_box with context %}

{% block content %}
    <section>
        {% block header_content %}
            <h1>{% block form_title %}{{ gettext('Add a new %(object)s', object=object_name|default('object')) }}{% endblock %}</h1>
            {% if disable_upload %}
                <p>{% trans %}Please fill up the form bellow.{% endtrans %}</p>
            {% else %}
                 <p>{% trans %}You can add a new question by filling up the form bellow or by importing a file. {% endtrans %}</p>
                {{ upload_box(import_form, not import_ok, import_error) }}
            {% endif %}

        {% endblock %}
        <div class="toolbar highlight">
            {{ actions.edit(object, form_name) }}
        </div>
    </section>

    <section>
        {% block form_area %}
            <form method="POST" id="{{ form_name }}">
                {% csrf_token %}
                {% if object %}<input type="hidden" name="object_pk" value="{{ object.pk }}">{% endif %}
                <table class="form">{{ form.as_table() }}</table>
            </form>
        {% endblock %}
    </section>


    <div class="toolbar">
        {{ actions.edit(object, form_name) }}
    </div>
{% endblock %}