{% extends "multi-views/base.jinja2" %}
{% import "includes/actions.jinja2" as actions %}

{% block content %}
    <section>
        {% block header_content %}
            <h1>{{ object.title|default(object.name) }}</h1>
        {% endblock %}
        <div class="toolbar highlight">
            {{ actions.edit(object, form_name) }}
        </div>
    </section>

    <section>
        {% block form_area %}
            <form method="POST" id="{{ form_name }}">
                {% csrf_token %}
                {% if object %}<input type="hidden" name="object_pk" value="{{ object.pk }}">{% endif %}
                <table class="form">{{ form.as_table() }}</table>
            </form>
        {% endblock %}
    </section>

    <div class="toolbar">
        {{ actions.edit(object, form_name) }}
    </div>
{% endblock %}