<dom-module id="rpc-call">
  <script>
      function handleResponse() {
          var xhttp

      }
  </script>
  <template>
    <iron-ajax
        auto
        url="/json/call/"
        handle-as="json"
        params='{"func": "{{function}}", "args": {{params}}}'
        on-response="handleResponse()"
        debouce-duration="300">
    </iron-ajax>
  </template>
  <script>
    Polymer({
      is: 'rpc-call',
      properties: {
        func: String,
        args: Object
      }
    });
  </script>
</dom-module>