{% from 'cs_activities/base.jinja2' import globals %}
{% extends "base.jinja2" %}

{% block style %}
    {{ super() }}
    <style>
        main > div > ul > li {
            padding: 10px;
        }

        main > div > ul > li  a {
            font-size: 1.2em;
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block content %}
    <div>
        <h1>{{ _('List of activities') }}</h1>
    </div>
    <div>
        {% if activity_list %}
            <ul>
                {% for activity in activity_list %}
                    <li>
                        <p><a href="./{{ activity.pk }}/">{{ activity.name }}</a></p>
                        <p>{{ activity.short_description }}</p>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>{{ _('No activities found') }}</p>
        {% endif %}
    </div>
{% endblock %}