{% from "cs_activities/base.jinja2" import globals %}
{% extends "multi-views/detail.jinja2" %}

{% block content_title %}{{ _('Activity:') }} {{ super() }}{% endblock %}

{% block detail_items %}
    {{ super() }}
    <dt>{{ _('Published') }}</dt>
    <dd>{{ activity.published_at }}</dd>
{% endblock %}
