{% extends "viewpack/crud/detail.jinja2" %}

{% block content %}
    <section>
        {% if can_download %}
            <a href="{% url 'object-action' object.pk 'download' %}"><i class="material-icons config-handle">file_download</i></a>
        {% endif %}
        <h1>{{ object.title }}</h1>
        <p id="short-description">{{ object.short_description }}</p>

        {% block header_content %}{% endblock %}
    </section>

    <div class="object-input">
        <article class="long-description">
        {{ object.long_description|markdown }}
        </article>

        <form id="object-form" method="POST">
            {% csrf_token %}
            {% if activity %}
                <input type="hidden" name="activity" value="{{ activity.pk }}">
            {% endif %}
            {% block question_input %}
                <table class="form">{{ form.as_table() }}</table>
            {% endblock %}
        </form>

        {% if feedback or grade %}
            {% block feedback %}
                <article class="object-feedback">
                    <h2>{{ _('Feedback') }}</h2>
                    {% if grade == 100 %}
                        {% block feedback_positive %}
                            <p>
                              <strong>Parabéns!</strong>
                              Sua resposta está correta e foi registrada.
                            </p>
                        {% endblock %}
                    {% else %}
                        {% block feedback_error %}
                            {{ feedback.as_html() }}
                            <p><strong>Aproveitamento: </strong> {{ grade }}%</p>
                        {% endblock %}
                    {% endif %}
                </article>
            {% endblock %}
        {% endif %}

        <div class="toolbar highlight">
            <input
                    class="object-input-button"
                    type="submit"
                    name="send"
                    form="object-form"
                    value="{{ _('Send') }}">
        </div>
    </div>
{% endblock %}