{% extends "cs_questions/create.jinja2" %}
{% from "cs_questions/io/macros.jinja2" import answer_key_edit_box %}

{% block content_body %}
    {{ answer_key_edit_box(question) }}
    {{ super() }}
{% endblock %}