<h1>{{ question.title }}: {{ language.name }} ({{ _('answer key') }})</h1>

<form method="POST" action="{{ question.get_absolute_url() }}edit-key/{{ key.pk }}/" class="dialog-wide">
    {% csrf_token %}
    <paper-dialog-scrollable>
        <table class="form">
            {{ form.as_table() }}
        </table>
    </paper-dialog-scrollable>

    <div class="toolbar highlight">
        <input class="primary" type="submit" name="input" value="{{ _('Submit') }}">
    </div>
</form>
