{% extends "cs_server/has_editor_base.html" %}
{% load markup %}
{% block title %}Notas{% endblock %}

{% block body %}
<h2>Notas</h2>
 
<div class="grades_form">
<form action="" method="post">
    {% csrf_token %}
    <div id="student_main" class="id_div">
    <p>Identificação do aluno</p>
    {{ form.school_id.label_tag }}
    {{ form.school_id }}<input type="submit" value="Enviar" />
    </div>

    <div class="grades">
    {% if grades %}
    <table>
    <tr>
        <th>Questão</th>
        <th>Nota</th>
        <th># de tentativas</th>
    </tr>
    {% for row in grades %}
    <tr>
        {% for col in row %}
        <td>{{ col }}</td>
        {% endfor %}
    </tr>
    {% endfor%}
    </table>
    
    
    {% else %}
    <p>Digite a matrícula</p>
    {% endif %}
    </div>
    
</form>
</div>
{% endblock %}

