{% extends "cs_server/base.html" %}
{% load staticfiles %}

{% block head_extra %}
<!-- Code mirror -->
<script src="{% static "codemirror/lib/codemirror.js" %}"></script>
<script src="{% static "codemirror/addon/edit/matchbrackets.js" %}"></script>
<script src="{% static "codemirror/mode/python/python.js" %}"></script>
<!-- highlight.js -->
<!--
<link rel="stylesheet" href="highlight/styles/default.min.css">
<script src="highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
-->

{% endblock %}