{% extends "cs_server/has_editor_base.html" %}
{% load markup %}
{% load cs_filters %}
{% block title %}{{ question.title }}{% endblock %}

{% block body %}
<div class="question-description">
    <h2>{{ question.title }}</h2>
    <p class="question_description">{{ question.description|reST }}</p>
</div>
 
<div class="question_form">
<form action="" method="post">
    {% csrf_token %}
    <div class="students_input">
        <div id="student_main">
        <p>Aluno 1</p>
        {{ form.name1.errors }}{{ form.school_id1.errors }}{{ form.name1.label_tag }}
        {{ form.name1 }} /
        {{ form.school_id1 }}
        </div>
    
        <div id="student_other">
        <p>Aluno 2</p>
        {{ form.name2.errors }}{{ form.school_id2.errors }}{{ form.name2.label_tag }}
        {{ form.name2 }} /
        {{ form.school_id2 }}
        </div>
    </div>

    {% if error_message %}
    <div class="question_error_message">
        <p id="error_header">Erro!</p>
        {{ error_message|safe }}
    </div>
    {% endif %}
    
    {% if grade == 100 %}
    <div class="question_response_feedback">
        <strong>Parabéns!</strong> 
        Sua resposta está correta e foi registrada</div>
    {% else %}
    <div class="response_area">
        {{ form.response.errors }}
        {{ form.response }}
    
        <p><input type="submit" value="Enviar" /></p>
        <script>
        var text = document.getElementById("id_response");
        var editor = CodeMirror.fromTextArea(text, {
            mode: {
                name: "python",
                version: 3,
                singleLineStringErrors: false},
            lineNumbers: true,
            indentUnit: 4,
            matchBrackets: true
        });
        </script>
    </div>
    {% endif %}
</form>
</div>
{% endblock %}

