{% extends "viewpack/crud/detail.jinja2" %}
{% block object_description %}
    <h1>Resultado da Batalha</h1>
    {% if not object.is_active %}
        {% if object.battle_winner %}
            <div>
               <h2><a href="#{{object.id}}">Winner {{ object.battle_winner.user }} </a><br>
            </div>
        {% endif %}
        {% for battle_result in all_battles %}
            <div id="{{battle_result.user.id}}">
                User: {{ battle_result.user }} <br>
                Ranking position: "number" <br>
                Time: {{ (battle_result.time_end - battle_result.time_begin)|deltaformat }} <br>
                Characters count: {{ battle_result.source|length  }}<br>
                <!--    Time execution code: "in seconds"<br>
                Number of submitions: "a lot!"<br -->
                Code winner: 
                <br><formated>{{ battle_result.source }} <formated><br>
            </div>
            <p>
        {% endfor %}
    {% else %}
        Esta batalha ainda está ativa!
    {% endif %}
{% endblock %}

