#content-area nav { display: none; }

#content-area main > * {
    background-color: white;
    color: black;
    padding: 10px;
}

#content-area main > *:nth-child(odd) {
    background-color: #fcaf3e;
    color: white;
}


@media only screen and (min-width: 600px) {
    #content-area main > * {
        padding: 20px 20px 20px 30px;
    }

    #content-area {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
    }

    #content-area main {
        flex-grow: 7;
    }

    #content-area > nav {
        display: block;
        background: #eee;
        padding: 10px;
        flex-grow: 1;
        min-width: 180px;
        max-width: 250px;
        width: 25%;
        color: #222;
    }

    #content-area > nav ul,
    #content-area > nav p {
        font: 1.25em 'Amatic SC', cursive !important;
        font-weight: bold !important;
    }

    #content-area > nav img {
        margin: 35px auto;
        display: block;
        width: 60%;
        max-width: 90px;
    }

    #content-area > nav p {
        margin: 10px 0 0;
    }

    #content-area > nav ul {
        list-style-type: none;
        padding: 15px;
        margin: 0;
    }

    #content-area > nav > ul ul {
        margin-top: -10px;
    }

    #content-area a {
        color: black;
    }

    #content-area *.disabled-link {
        color: darkgray;
    }
}

@media only screen and (min-width: 1000px) {
    #content-area main > * {padding-left: 40px;}
}


/* Content cards */
.content-cards > aside > p {display: none}

@media only screen and (min-width: 600px) {
    .content-cards > aside > p {display: block}

    .content-cards {
        display: flex;
    }

    .content-cards > aside {
        width: 30%;
    }

    .content-cards > article {
        margin-left: 30px;
        flex-grow: 1;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: stretch;
    }

    .content-cards > article > * {
        flex: 1 1 30%;
    }
}

@media only screen and (min-width: 1000px) {
    .content-cards > article {
        margin-left: 60px;
    }
}