#dialog-close {
    background-color: #9A0606;
    color: white;
    position: absolute;
    right: -10px;
    top: -10px;
    padding: 2px;
    border: 2px solid white;
}

#dialog {
    min-width: 50%;
}

#dialog .no-content {
    padding: 50px;
    text-align: center;
}

#new-activity > div {
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 10px;
}