@import 'normalize.css';
@import 'fonts.css';
@import 'forms.css';
@import 'roles.css';
@import 'header.css';
@import 'content.css';
@import 'footer.css';
@import 'ternary.css';
@import 'userena.css'; /* Maybe we should personalize views and add our own styles */

main, nav, div, article, section, aside {
    margin: 0;
    padding: 0;
}

#wagtail-userbar {
    top: 100px;
}


/* MDL overrides */
.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after,
.mdl-tabs__tab .mdl-tabs__ripple-container .mdl-ripple {
    background: #ffe180;
}

/*
@import 'dialogs.css';

paper-item > a {
    display: block;
}

.disabled {
    background-color: grey !important;
}




#answer-keys {
    min-width: 75%;
    margin: 20px auto;
    border: 2px solid darkgrey;
    border-radius: 2px;
}
#answer-keys .first-col {
    padding-right: 35%;
}
#answer-keys th {
    background: darkgray;
    color: white;
}
#answer-keys tr:nth-child(even) {
    background: #eee;
}





.code-area {
    background: #f3f3f3;
    padding: 20px 40px;
    margin: 20px -20px;
    margin-bottom: 0;
}

@media screen and (min-width: 1000px) {
    .code-area {
        margin-left: -40px;
    }
}

*/