body.ternary {
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

body.ternary > * {
    padding: 30px 15%;
}

.ternary header,
.ternary footer {
    background: #666 url('/static/img/bg_gray_noise.png') repeat;
    color: #eee;

}

.ternary header {
    flex-grow: 1;
    padding-bottom: 0px;
    display: flex;
    flex-flow: column;
    align-content: flex-end;
}

.ternary header h1 {
    margin-top: auto;
    font-size: 3em;
}

.ternary main {
    margin: 30px 15%;
    padding: 0px;
}

.ternary main iron-pages {
    margin: 10px 10%;
}

.ternary footer {
    text-align: right;
    flex-grow: 1;
}

.ternary button,
.ternary paper-button {
    padding: 10px 15px;
    font-size: 1.1em;
}