main > h2 {
    margin: 0;
}

#password_change_form,
#userena-content,
.white-box {
    padding: 0 !important;
    margin: 0;
}


#password_change_form > fieldset,
#password_change_form > input,
#userena-form,
#details {
margin: 30px;
}

#box-nav {
    margin: 0;
    background: lightgrey;
    padding: 15px;
}

#box-nav > * {
    padding: 20px;
    display: inline;
}