<h1>Desafio</h1>

<div><p>Time:  </p></div>

<div>
    <h3>Placar</h3>
    A certificação de metodologias que nos auxiliam a lidar com o aumento do diálogo entre os diferentes setores produtivos é uma das consequências dos procedimentos normalmente adotados.
</div>


<div>
    A certificação de metodologias que nos auxiliam a lidar com o aumento do diálogo entre os diferentes setores produtivos é uma das consequências dos procedimentos normalmente adotados.
</div>
<div>
    <h3>Enunciado</h3>
    A certificação de metodologias que nos auxiliam a lidar com o aumento do diálogo entre os diferentes setores produtivos é uma das consequências dos procedimentos normalmente adotados.
</div>

<div>
    <h3>Entradas</h3>
    A certificação de metodologias que nos auxiliam a lidar com o aumento do diálogo entre os diferentes setores produtivos é uma das consequências dos procedimentos normalmente adotados.

</div>

<div>
    <h3>Saídas</h3>
    A certificação de metodologias que nos auxiliam a lidar com o aumento do diálogo entre os diferentes setores produtivos é uma das consequências dos procedimentos normalmente adotados.
</div>

<div>
    <h3>Box resolve</h3>
    A certificação de metodologias que nos auxiliam a lidar com o aumento do diálogo entre os diferentes setores produtivos é uma das consequências dos procedimentos normalmente adotados.
</div>


